-
    const linksList = [
        {
            label: 'Услуги',
            href: '/uslugi.html',
        },
        {
            label: 'Цены',
            href: '/prices.html',
        },
        {
            label: 'О нас',
            href: '/about.html',
        },
        {
            label: 'Отзывы',
            href: '/reviews.html',
        },
        {
            label: 'Достижения',
            href: '/achievements.html',
        },
        {
            label: 'Наши залы',
            href: '/halls.html',
        },
        {
            label: 'Команда',
            href: '/team.html',
        },
        {
            label: 'Контакты',
            href: '/contacts.html',
        },
    ]

mixin header-links-list(activeIndex)
    ul.header__links-list 
        li.header__list-item: a.header__list-link(href="/" class=`${activeIndex === 0 ? 'active' : ''}`)
            +icon('home').header__list-home-icon.d-none.d-lg-block
            span.d-lg-none Главная
        each link, idx in linksList
            li.header__list-item: a.header__list-link(href=link.href class=`${idx === activeIndex - 1 ? 'active' : ''}`)= link.label


mixin header-menu(activeIndex)
    .menu&attributes(attributes)
        a.menu-icon(href="#") #[i]#[i]#[i]#[i]
        .menu-drop(data-uk-dropdown="mode: click; pos: bottom-justify; boundary: .header; boundary-align: true; animation: uk-animation-slide-top-small; duration: 300")
            .container
                button.menu__btn.btn-solid-white Записаться на занятие

                +header-links-list(activeIndex)


                .menu__contacts-block 
                    a.menu__phone(href='tel:+78127483938') 8 812 748 39 38
                    .menu__times Буд. 10–22 | Вых. 9–22

                .menu__socials 
                    a.menu__social-item(href=instLink): +icon('inst')
                    a.menu__social-item(href=vkLink): +icon('vk')
                    a.menu__social-item(href=ytLink): +icon('yt')

mixin header-logo
    a(href="/").header__logo: +icon('logo')

//- Template
mixin header(activeIndex)
    header.header(data-uk-sticky="top: 100vh; animation: uk-animation-slide-top")
        .container 
            //- SM
            .header__row.d-md-none
                +header-logo

                button.btn-solid-primary.header__btn Записаться

                +header-menu(activeIndex).header__menu 

            //- MD
            .header__row.d-none.d-md-block
                .header__top-row
                    .header__logo-block
                        +header-logo
                        .header__vert-divider
                        .header__logo-descr Федеральная сеть роллер школ для детей и взрослых

                    .header__map-block.d-none.d-lg-flex
                        button.header__map-drop-target 
                            +icon('point').header__map-drop-target-pin
                            span Санкт-Петербург
                            +icon('angle-down').header__map-drop-target-angle
                        .header__map-drop(data-uk-drop="pos: bottom-center; delay-hide: 200;")
                            .header__map-drop-item ул. Ивана Фомина, 6
                            .header__map-drop-item Ленинский пр, 140
                            .header__map-drop-item ул. Тюшина, 11
                            a.header__map-drop-item.header__map-drop-item--city(href="#")
                                +icon('point').header__map-drop-target-pin
                                span Москва
                            a.header__map-drop-item.header__map-drop-item--link(href="#map-section" data-uk-scroll) Перейти к карте

                        .header__map-towns
                            .header__map-town ул. Тюшина, 11
                            .header__map-town Ленинский просп, 140
                            .header__map-town ул. Ивана Фомина, 6

                    +header-menu(activeIndex).header__menu 



                .header__bot-row
                    +header-links-list(activeIndex)

                    .header__bot-right-block.d-none.d-lg-flex
                        a(href=phoneLink).header__phone-number 
                            +icon('phone')
                            = phoneNumber
                        button.header__btn.btn-solid-primary Записаться на занятие
