mixin s11-map 
	section.s11#map-section&attributes(attributes)
		.s11__ctn.container 
			h2.s11__title Как нас найти?

			.s11__advans-block 
				.s11__advans-item
					+icon('checked')
					p 3 комфортных зала в пешей #[br]доступности от метро
				.s11__advans-item
					+icon('checked')
					p До зала 5 минут #[br]пешком от метро 

			.s11__work-time Режим работы: #[br]Будни с 12-22 #[br]Выходные с 9-22

			p.s11__choose-location-text Выберите локацию:

			.s11__location
				.s11__location-nav
					a.s11__location-nav-item.active(
						href="#" 
						data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3999.803767562777!2d30.342255877985288!3d59.91717569049373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631b2cf277385%3A0xd120c20899ea29c1!2z0YPQuy4g0KLRjtGI0LjQvdCwLCAxMSwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5MTExOQ!5e0!3m2!1sru!2sru!4v1626454385224!5m2!1sru!2sru"
						)
						.s11__location-nav-item-metro м.Звенигородская
						.s11__location-nav-item-adress ул. Тюшина д. 11
						.s11__location-nav-item-phone 8 812 748-39-38
						+icon('triangle-logo', '#B46BD1').s11__location-nav-item-logo-triangle
					a.s11__location-nav-item(
						href="#" 
						data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2003.7737946866066!2d30.28139131621769!3d59.852896775974386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46963ac04a12d877%3A0x6caac7b61a58960!2z0JvQtdC90LjQvdGB0LrQuNC5INC_0YAt0YIuLCAxNDAsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTgyMTY!5e0!3m2!1sru!2sru!4v1626454778871!5m2!1sru!2sru"
						) 
						.s11__location-nav-item-metro м.Ленинский проспект
						.s11__location-nav-item-adress Ленинский проспект д.140
						.s11__location-nav-item-phone 8 812 748-39-38
						+icon('triangle-logo', '#B46BD1').s11__location-nav-item-logo-triangle
					a.s11__location-nav-item(
						href="#" 
						data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1992.0496159347376!2d30.339721716223515!3d60.047405860281636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469634bfe9e54c1f%3A0x35dae285d5ffb7b3!2z0YPQuy4g0JjQstCw0L3QsCDQpNC-0LzQuNC90LAsIDYsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTQzNTY!5e0!3m2!1sru!2sru!4v1626454810230!5m2!1sru!2sru"
						) 
						.s11__location-nav-item-metro м.Проспект просвещения
						.s11__location-nav-item-adress ул. Ивана Фомина д. 6
						.s11__location-nav-item-phone 8 812 748-39-38
						+icon('triangle-logo', '#B46BD1').s11__location-nav-item-logo-triangle

				.s11__location-map-wrap
					+picture(svg, 'browser-panel-purple', 'Sml').s11__location-map-panel

					.s11__location-map(data-src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3999.803767562777!2d30.342255877985288!3d59.91717569049373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631b2cf277385%3A0xd120c20899ea29c1!2z0YPQuy4g0KLRjtGI0LjQvdCwLCAxMSwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5MTExOQ!5e0!3m2!1sru!2sru!4v1626454385224!5m2!1sru!2sru')

