include widgets/_menu
include widgets/_slider

//- POPUP BASE

mixin popup
	.popup.uk-modal(data-uk-modal)&attributes(attributes)
		.popup__body.uk-modal-dialog.uk-margin-auto-vertical
			button.popup__close.uk-modal-close-default(type="button" data-uk-close)
			block

mixin popup-video-16-9
	.popup-video.popup.uk-modal(data-uk-modal)&attributes(attributes)
		.popup__body.uk-modal-dialog.uk-margin-auto-vertical.embed-responsive.embed-responsive-16by9
			button.popup__close.uk-modal-close-default(type="button" data-uk-close)
			block

mixin quiz 
	.quiz 

		h1.title TITLE

		ul.quiz-items 
			li
				h2 item 1
				ul.quiz-radios
					li
					li
					li

			li
				h2 item 2
				ul.quiz-options
					li
					li
					li
			li
				h2 item 3
				input.quiz-input
		ul.quiz-nav 
		a.quiz-prev(href="#") PREV
		a.quiz-next(href="#") NEXT
		
		progress.quiz-progress.uk-progress(value="0" max="100")

//- ICONSET

mixin icon(icon, filler = 'currentColor')
	case icon
		when 'angle-down'
			svg(width="23" height="13" viewBox="0 0 23 13" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none")&attributes(attributes)
				path(d="M21.0206 1.66657L11.5114 9.67432L2.0022 1.66657" stroke=filler stroke-width="4")
		when 'angle-left'
			svg(width="13" height="24" viewBox="0 0 13 24" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none")&attributes(attributes)
				path(d="M11.8093 22.3843L1.61725 12.1922L11.8093 2.00012" stroke=filler stroke-width="3" stroke-linejoin="round")
		when 'angle-right'
			svg(width="13" height="24" viewBox="0 0 13 24" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none")&attributes(attributes)
				path(d="M1.19214 22.3843L11.3842 12.1922L1.19214 2.00012" stroke=filler stroke-width="3" stroke-linejoin="round")
		when 'angle-left-sm'
			svg(width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none")&attributes(attributes)
				path(d="M7.78778 1.11401L1.34934 7.55246L7.78778 13.9909" stroke=filler)
		when 'angle-right-sm'
			svg(width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none")&attributes(attributes)
				path(d="M0.787109 13.991L7.22555 7.55252L0.787108 1.11408" stroke=filler)
		

//- PICTURE

//- type: `jpg`/ `png` or jpg/ png if so-called var exsist
	src: `${path}/to/img`  - without postfixes and dimensions
	dimentions: `s`/ `sml`/ `sl`/ `smlx`/ `sx`....
	retina: true/ false

	Атрибуты типа class, alt записываются как обычно в скобках сразу за миксином  --> +picture(jpg, 'tmp')(class="pic" alt="lev")

	Называть картинку так --> any-name-sm.jpg / any-name-lg@2x.png

- var jpg = `jpg`, png = `png`, svg = `svg` //- для удобства

-
	var breakpointsLetterCollation = {
		'S': 'xs',
		's': 'sm',
		'm': 'md',
		'l': 'lg',
		'L': 'xl',
		'x': 'xxl',
	}

mixin picture(type, imageName, dimentions, retinaDimentions)
	- imageName = assets + imageName
	+picture-constructor(type, imagePlaceholder, imageName, dimentions, retinaDimentions, true, false)&attributes(attributes)

mixin picture-min(type, imageName, dimentions, retinaDimentions)
	- imageName = assets + imageName
	+picture-constructor(type, `${imageName}-min`, imageName, dimentions, retinaDimentions, true, true)&attributes(attributes)


mixin picture-constructor(imageExtension, imageSrc = imagePlaceholder, imageDataSrc, breakpointsLetters = '', retinaLetters = '', includeWebp = true, usePreloadImage = false)
		picture
			-
				function getImageSrc(dimention) {
					return (usePreloadImage && imageSrc !== imagePlaceholder) ? `${imageSrc}${dimention ? `-${dimention}` : ''}.${imageExtension}` : imagePlaceholder
				}			


			- const reversedBreakpointsLetters = breakpointsLetters.split('').reverse().join('')

			each letter in reversedBreakpointsLetters
				- const dimention = breakpointsLetterCollation[letter]

				-
					const sourceParameters = [
						breakpoints[dimention],
						getImageSrc(dimention),
						`${imageDataSrc}-${dimention}`,
						imageExtension,
						retinaLetters.includes(letter) ? true : false,
						includeWebp
					]

				+picture-source(...sourceParameters)

			else
				+picture-source(0, getImageSrc(), imageDataSrc, imageExtension, retinaLetters ? true : false, includeWebp)

			if breakpointsLetters
				- const imgDimention = breakpointsLetterCollation[reversedBreakpointsLetters[0]]

				img(src!=getImageSrc(imgDimention) data-src!=`${imageDataSrc}-${imgDimention}.${imageExtension}` alt='' class=`lazyload`)&attributes(attributes)

			else
				img(src!=getImageSrc() data-src!=`${imageDataSrc}` alt='' class=`lazyload`)&attributes(attributes)


mixin picture-source(media = 0, srcset, dataSrcsetBase, type, useRetina = false, includeWebp = false)
	- const postfixRetina = '@2x'

	if includeWebp === true && (type === 'jpg' || type === 'png')
		if useRetina
			source(media=`(min-width: ${media}px)` srcset!=srcset data-srcset!=`${dataSrcsetBase}${postfixRetina}.webp 2x, ${dataSrcsetBase}.webp 1x` type=`image/webp`)
		else
			source(media=`(min-width: ${media}px)` srcset!=srcset data-srcset!=`${dataSrcsetBase}.webp` type=`image/webp`)

	if useRetina
		source(media=`(min-width: ${media}px)` srcset!=srcset data-srcset!=`${dataSrcsetBase}${postfixRetina}.${type} 2x, ${dataSrcsetBase}.${type} 1x` type=`image/${type}`)
	else
		source(media=`(min-width: ${media}px)` srcset!=srcset data-srcset!=`${dataSrcsetBase}.${type}` type=`image/${type}`)
