extends modules/layout/_layout

prepend head
	title Отзывы
	meta(name="description" content="Отзывы")

block header 
	+header(4)

block content
	section.s22
		.s22__ctn.container
			h2.s22__title #[span.text-primary За 11 лет] мы провели интересные тренировки для #[span.text-primary более 10.000 детей] 
			p.s22__subtitle Но одно дело – мнение взрослых, и совсем другое – что дети думают на самом деле

			h3.s22__reviews-title Узнайте от них самих, почему они хотят учиться у нас:

			-
				const reviews_content = [
					{
						videoId: 'c2pz2mlSfXA',
						text: 'Ролики это счастье, ролики это веселье. Когда ты катаешься на роликах, у тебя всегда такое чувство, как будто ты выполняешь движение в танце.',
						name: 'Халыкова Ясмина, 7 лет',
					},
					{
						videoId: 'c2pz2mlSfXA',
						text: 'Ролики для меня это не просто как развлечение, когда я катаюсь на роликах — я отдыхаю, но при этом занимаюсь спортом. Занимаюсь год, получаю от этого большое удовольствие.',
						name: 'Лабзовский Максим, 14 лет',
					},
					{
						videoId: 'c2pz2mlSfXA',
						text: 'Ролики это для меня как развлечение и когда мне скучно, я катаюсь на роликах. Это меня сильно развлекает. Ролики — для меня это игра и полноценная жизнь.',
						name: 'Зольникова Мария, 8 лет',
					},
					{
						videoId: 'c2pz2mlSfXA',
						text: 'На роликах я катался не частно. Когда пришел в этот зал, мне это очень понравилось, теперь я катаюсь каждый день. Для меня это счастье!',
						name: 'Волков Роман, 9 лет',
					},
					{
						videoId: 'c2pz2mlSfXA',
						text: 'Ролики для меня это — очень хорошо. В роликах я чувствую себя как тапочках. Ролики для меня очень полезны. Я люблю ролики, очень люблю. Катаюсь 1 год и нескольком месяцев.',
						name: 'Серегин Федор, 8 лет',
					},
					{
						videoId: 'c2pz2mlSfXA',
						text: 'Ролики для меня это частичка моей души и просто мне очень нравится на них кататься. ',
						name: 'Яцковская Арина, 9 лет',
					},

				]

			.s22__slider(data-uk-slider)
				+slider-arrow-nav(`0${reviews_content.length}`).s22__slider-nav

				.s22__slider-container.uk-slider-container

					ul.s22__slider-items.uk-slider-items 

						each item, index in reviews_content
							li.s22__slider-item 
								.s22__slider-item-wrap
									a(href=`#_${item.videoId}` data-app-video).s22__slider-video 
										+picture(jpg, `s22-slider-image-${index + 1}`)
										.s22__slider-video-play 
											+icon('play-transparent')
											p Посмотрите #[br]видео-отзыв ребёнка

									.s22__slider-descr
										+icon('quotes').s22__slider-descr-quotes
										p.s22__slider-descr-text= item.text
										p.s22__slider-descr-name= item.name





	+s10-form-lead
	+s11-map